
  <p class="mb-20">{{reviews.length}} review for <strong>{{product.name}}</strong></p>
  <ng-container *ngFor="let review of reviews" >
    <div class="ps-review">
      <div class="ps-review__thumbnail"><img src="assets/images/user/1.jpg" alt=""></div>
      <div class="ps-review__content">
        <header>
          <select class="ps-rating">
            <option value="1">1</option>
            <option value="1">2</option>
            <option value="1">3</option>
            <option value="1">4</option>
            <option value="5">5</option>
          </select>
          <p>By<a href=""> {{review.userEmail}}</a> - November 25, 2017</p>
        </header>
        <p>{{review.comment}}</p>
      </div>
    </div>
    <br>
  </ng-container>

  <form class="ps-product__review" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <h4>ADD YOUR REVIEW</h4>
    <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="form-group">
              <label>Your rating<span></span></label>
              <select class="ps-rating"  formControlName="rating">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
            <div class="form-group">
              <label>Your Review:</label>
              <textarea  formControlName="comment" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="ps-btn ps-btn--sm">Submit<i class="ps-icon-next"></i></button>
            </div>
          </div>
    </div>
  </form>

