
  <div *ngIf="(basket$ | async) === null">
    <p>There are no items in your basket</p>
    </div>





<main class="ps-main">

<ng-container *ngIf="(basket$ | async)" >

  <app-basket-summary *ngIf="(basketTotals$ | async) as basketTotal "
  (decrement)="decrementItemQuantity($event)"
  (increment)="incrementItemQuantity($event)"
  (remove)="removeBasketItem($event)"
  [items]="(basket$ | async).items"
  [subtotal]="(basketTotals$ | async).subtotal"
></app-basket-summary>
</ng-container>
</main>
<app-order-totals
    *ngIf="(basketTotals$ | async)"
    [shippingPrice]="(basketTotals$ | async).shipping"
    [subtotal]="(basketTotals$ | async).subtotal"
    [total]="(basketTotals$ | async).total"
></app-order-totals>



