<div class="properties pb-30">
     <div class="properties-card">
        <div class="properties-img">
           <a href="book-details.html"><img width="500" height="300" src="{{product.pictureUrl}}" alt=""></a>
        </div>
        <div class="properties-caption properties-caption2">
           <h3><a href="book-details.html">{{product.name}}</a></h3>
           <p>{{product.description}}</p>
           <div class="properties-footer d-flex justify-content-between align-items-center">
              <div class="review">
                 <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                 </div>
                 <p>(<span>120</span> Review)</p>
              </div>
              <div class="price">
                 <span>{{product.price}}TL</span>
              </div>
           </div>
        </div>
    </div>
</div>

