<!-- name: new FormControl(),
      description: new FormControl(),
      price: new FormControl(),
      pictureUrl: new FormControl(),
      productType: new FormControl(),
      productBrand: new FormControl(), -->
<div class="content-wrapper">
<app-content-header [pageHeader]="'Create Product'"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Quick Example</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
              <div class="form-group">
                <label for="name">Product name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter text" formControlName="name">
              </div>
              <div class="form-group">
                <label for="name">Description</label>
                <input type="text" class="form-control" id="name" placeholder="Enter text" formControlName="description">
              </div>
              <div class="form-group">
                <label for="name">Price</label>
                <input type="number" class="form-control" id="name" placeholder="Enter text" formControlName="price">
              </div>
              <div class="form-group">
                <label for="name">Picture Url</label>
                <input type="text" class="form-control" id="name" placeholder="Enter text" formControlName="pictureUrl">
              </div>
              <div class="form-group">
                  <label>Select Brand</label>
                  <select class="form-control"  [formControlName]="'productBrand'">
                    <option value="{{brand.id}}" *ngFor="let brand of brands">{{brand.name}}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label>Select Type</label>
                  <select class="form-control"  [formControlName]="'productType'">
                    <option value="{{type.id}}" *ngFor="let type of types">{{type.name}}</option>

                  </select>
              </div>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

          </div>
        </div>
    </div>
  </div>
</section>
</div>
