
    <header class="header">
      <div class="header--sidebar"></div>
      <div class="header__top">
        <div class="container-fluid">
          <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                  <p>Welcome to Karabuk Shoes</p>
                </div>






                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                  <div class="header__actions">
                    <ng-container *ngIf="(currentUser$ | async) === null">
                    <a routerLink="account/login">Login & Regiser</a>
                  </ng-container>



                  <ng-container *ngIf="(currentUser$ | async) as user">
                    <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome {{(currentUser$ | async).displayName}}<i class="fa fa-angle-down"></i></a>

                      <ul class="dropdown-menu">
                      <li><a routerLink="/basket"><i class="fa fa-shopping-cart mr-3"></i> View Basket</a></li>
                      <li><a routerLink="/orders"><i class="fa fa-history mr-3"></i> View Orders</a></li>
                      <li><a (click)="logout()"><i class="fa fa-sign-out mr-3"></i> Logout</a></li>
                      </ul>
                    </div>
                  </ng-container>

                  </div>
                </div>
          </div>
        </div>
      </div>
      <nav class="navigation">
        <div class="container-fluid">
          <div class="navigation__column left">
            <div class="header__logo"><a class="ps-logo" href="index.html"><img src="/assets/images/logo.png" alt="" ></a></div>
          </div>
          <div class="navigation__column center">
                <ul class="main-menu menu">
                  <li routerLink="/" class="menu-item menu-item-has-children dropdown"><a  >Home</a>
                    <!-- (click)="navigateToHome()" -->
                  </li>
                  <li routerLink="/categories" class="menu-item menu-item-has-children has-mega-menu"><a  >Shoes</a>
                    <!-- (click)="navigateToCategories()" -->
                  </li>
                  <li class="menu-item menu-item-has-children dropdown"><a href="#">Brands</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a routerLink="/categories">Nike</a></li>
                          <li class="menu-item"><a routerLink="/categories">Adidas</a></li>
                          <li class="menu-item"><a routerLink="/categories">Puma</a></li>
                          <li class="menu-item"><a routerLink="/categories">Converse</a></li>
                          <li class="menu-item"><a routerLink="/categories">Adidas</a></li>
                        </ul>
                  </li>
                </ul>
          </div>
          <div class="navigation__column right">
            <div class="ps-search--header" >
              <input (keydown.enter)="onSearch($event.target.value)" class="form-control" type="text" placeholder="Search Product…">
              <button><i class="ps-icon-search"></i></button>
            </div>
            <div class="ps-cart"><a class="ps-cart__toggle" routerLink="/basket">
              <span *ngIf="(basket$ | async) as basket"><i>{{basket.items.length}}</i></span>
              <i class="ps-icon-shopping-cart"></i></a>
              <div class="ps-cart__listing">

                <div class="ps-cart__content">
                  <ng-container *ngFor="let item of (basket$ | async).items">
                    <div class="ps-cart-item"><a class="ps-cart-item__close" (click)="removeBasketItem(item)"></a>
                      <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="{{item.pictureUrl}}" alt=""></div>
                      <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">{{item.productName}}</a>
                        <p><span>Quantity:<i>{{item.quantity}}</i></span><span>Total:<i>{{item.price | currency}}</i></span></p>
                      </div>
                    </div>
                </ng-container>
                </div>
                <div class="ps-cart__total">
                  <p>Number of items:<span>{{(basket$ | async).items.length}}</span></p>
                  <p>Item Total:<span>{{(basketTotals$|async).subtotal | currency}}</span></p>
                </div>
                <div class="ps-cart__footer"><a class="ps-btn" routerLink="/basket">Check out<i class="ps-icon-arrow-left"></i></a></div>
              </div>
            </div>
            <div class="menu-toggle"><span></span></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="header-services">
      <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Karabük Shoes</p>
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Karabük Shoes</p>
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Karabük Shoes</p>
      </div>


    </div>

